.filters-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 16px;
  }
  
  .filters-sliders {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 32px;
  }
  
  .filter-calories,
  .filter-proteins {
    width: 40%;
  }
  